@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Poppins:wght@200;300;400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;

}

li {
  cursor: pointer;
}

.menuList {
  position: relative;
}

.menuList::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: var(--color-vibrantCoral);
  /* Using the 'vibrantCoral' color from your Tailwind config */
  left: 0;
  bottom: -2px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.menuList:hover::after {
  opacity: 1;
}

.tapIcon {
  cursor: pointer;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #ec2c2c;
  color: #f96868;
  border-radius: 4px;
  margin: 20px 0;
}

ul.specialBullets {
  list-style: none;
}

li {
  list-style-type: none;
}

ul.specialBullets li {
  display: inline-block;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.3rem;

}

ul.specialBullets li:before {
  content: "";
  display: inline-block;
  width: 15px;
  top: 6px;
  height: 15px;
  margin-right: 0.5rem;
  background-image: url("./res/check.png");
  background-size: cover;
}